* {
    font-family: 'Poppins', sans-serif;
    background-color: #F2EFE9;
    color: #252627;
    justify-content: center;
}
.queja {
    border: #252627 solid;
    border-width: 1px;
    padding: 10px;
    margin: 2.5px;
    border-radius: 10px;
}

li {
    display: flex;
    align-content: center;
}
